.sea .layer{
    
    position: absolute;
    top:0;
    bottom: 0;
    left: -50%;
    right: -50%;
}



@for $i from 0 through 9 {


.sea .layer:nth-child(#{$i}){
    z-index: 10 - $i;
    transform: translateZ(-50px * $i+1);
    filter: brightness(100% -$i * 6%) blur(.2px * $i);
    animation: wave 10s + $i *1s infinite;
    animation-delay: random() *10s;
    }
    
}
    
@keyframes wave {
    0% {
        left: -10%;
    }
    33% {
        left: -5%;
    }
    66% {
        left: -5%;
    }
    100% {
        left: -10%;
    }
    
}